# URL base do backend para a comunicação da API
# Deixe em branco/vazio para rodar no modo Mock (dados simulados locais)
# Exemplo para backend rodando localmente: http://localhost:5000
# Exemplo para backend em produção: https://api.pizzaflow.com.br
VITE_API_URL=""

# Nome do Aplicativo
VITE_APP_NAME="PizzaFlow"
